apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kubeadm_join_worker_cluster_endpoint }}:6443
    token: {{ kubeadm_join_worker_token }}
    caCertHashes:
      - {{ kubeadm_join_worker_ca_cert_hash }}
